<h1>アテンダンスの編集</h1>

<div>
  <strong>出勤時間:</strong>
  <%= @attendance.check_in.strftime('%Y年%m月%d日 %H:%M') if @attendance.check_in %>  <!-- 出勤時間を表示 -->
</div>

<div>
  <strong>退勤時間:</strong>
  <%= Time.current.strftime('%Y年%m月%d日 %H:%M') %>  <!-- 現在の日時を表示 -->
  <%= form_with(model: [@user, @attendance], local: true) do |form| %>
    <div>
      <%= form.hidden_field :check_in, value: @attendance.check_in %>  <!-- 出勤時間を隠しフィールドとして設定 -->
      <%= form.hidden_field :check_out, value: Time.current %>  <!-- 現在の日時を隠しフィールドとして設定 -->
    </div>
    <div>
      <%= form.submit '退勤' %>
    </div>
  <% end %>
</div>

<!-- 削除ボタンを追加 -->
<%= button_to '削除(仮)', user_attendance_path(@user, @attendance), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>

<%= link_to '戻る', user_path(@user) %>